<h1>Who are your people?</h1>

<div class='row'> <!-- row 3 column layout-->

  <div class='col-sm-4'><!-- New Relative Form-->
    <%= render "shared/new_relative" %>
  </div><!--End New relative form-->

  <div class='col-sm-4'><!-- Relatives in this deck-->
    <%= render "shared/decks_relative" %>
  </div><!-- End relatives in deck-->

  <div class='col-sm-4'><!-- All relatives-->
    <%= render "shared/all_relatives" %>
  </div><!-- End all relatives-->

</div> <!-- end of 3 column layout-->
<%= link_to "Done", user_path(current_user), class: 'btn btn-default' %>
