<h2>Dashboard</h2>

<div class='deck-mgmt'>
  <h3>My Family and Friends Decks</h3>

  <p>
  Create new deck
  </p>

  <p>
  All decks get listed here.
  </p>
</div>

<h3>Edit Profile</h3>
<% if flash[:notice] %>
<p class='notice'><%= flash[:notice] %></p>
<% end %>
<%= render "shared/signup" %>
