<h2>Dashboard</h2>

<div class='deck-mgmt'>
  <h3>My Family and Friends Decks</h3>

  <%= link_to "Create new deck", new_deck_path %>
  
  <ul>
  <% @decks.each do |deck| %>
    <li><%= link_to deck.name, deck_path(deck.id) %></li>
  <% end %>
  </ul>

</div>

<h3>Edit Profile</h3>
<% if flash[:notice] %>
<p class='notice'><%= flash[:notice] %></p>
<% end %>
<%= render "shared/signup" %>
