<h2>All relatives</h2>
<ul class='no-bullets'>
  <% @relatives.each do |relative| %>
  <li class='small-card'>
    <%= link_to update_card_path( :add => relative.id), method: 'patch' do %>
      <span class="glyphicon glyphicon-plus-sign add"></span>
    <% end %>
    <%= relative.firstname %> <%= relative.lastname %>
  </li>
  <% end %>
</ul>
