<div class="row">
  <h1>Meet the family</h1>
  <p>
    Help your friends and loved ones meet your friends and loved ones.
  </p>
</div>

<%= link_to "Sign up", new_user_path %>
<%= link_to "Sign in", root_path %>
