<div class="row">
  <div class="col-md-7">
    <h1>Meet the family</h1>
    <p>
      Help your friends and loved ones meet your friends and loved ones.
    </p>
  </div>
  <div class="col-md-5">
    <%= render "shared/signin" %>
    <h2> Sign Up <small>to create study decks</small></h2>
    <%= render "shared/signup" %>
  </div>
</div>
